<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Symfony App{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>
<body>
    <h1>Hello</h1>
<ul>
    {% for clt in clients %}
     <li class="list-group-item">
                <a href="{{ path('client_details', {'id': clt.id}) }}">{{ clt.Nom_Client }}</a>
            </li>
    {% endfor %}
</ul>

    {% block javascripts %}
        <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
